asgiref==3.11.1
attrs==25.4.0
Django==4.2
django-cors-headers==4.0.0
django-extensions==4.1
djangorestframework==3.14.0
drf-spectacular==0.26.0
Faker==40.8.0
inflection==0.5.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
pillow==12.1.1
pydotplus==2.0.2
pyparsing==3.3.2
pytz==2025.2
PyYAML==6.0.3
referencing==0.37.0
rpds-py==0.30.0
sqlparse==0.5.5
tzdata==2025.3
uritemplate==4.2.0
